Python==3.6
Sphinx==1.8.5
sphinx_rtd_theme==0.4.3
pyenchant==2.0.0
Pygments==2.3.1
setuptools==41.0.1
docutils==0.14
mock==1.1.1
sphinx-tabs==1.1.11
sphinxcontrib-spelling==4.2.1
imagesize==0.7.1
Pillow==5.4.1
